.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.watches-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    margin-top: 40px;
    padding: 40px;
}
