.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.watches-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    margin-top: 40px;
    padding: 40px;
}
@media only screen and (max-width:767px){
    .watches-container{
        grid-template-columns: 1fr;
    }
    
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .watches-container{
        grid-template-columns: 1fr 1fr;
    }
    
}

.cart{
    background-color: aliceblue;
    padding: 10px;
    margin-top: 10px ;
    position: sticky;
    top: 0;
}
.buttons-container button{
    display: block;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(165, 42, 42, 0.705);
    color: white;
    font-size: 18px;
}
.buttons-container button:hover{
    background-color: rgb(197, 155, 99);
    color: brown;
}
